streamlit
Pillow
opencv-python-headless
numpy
matplotlib
requests
google-api-python-client
protobuf
tensorflow-cpu
pandas
gdown
deepface
torch --index-url https://download.pytorch.org/whl/cpu
transformers
